{% block parallax %}

    <div class="parallax-bgimage"
         data-isparallax="{{ isParallax }}"
         data-src="{{ src }}"
         data-srcheight="{{ srcHeight }}"
         data-srcwidth="{{ srcWidth }}"
         data-sizemodus="{{ sizemodus }}"
         data-valign="{{ vAlign }}"
         data-halign="{{ hAlign }}"
         data-vparallax="{{ vParallax }}">
    </div>

{% endblock %}
